body {
    background-color: peru;
}
h1,
.card,
.grid {
    text-align: center;
}
.card {
    margin-bottom: 50px;
}
input {
    margin-left: 10px;
}
.wrapper-card:empty::after {
    content:"";
    display:block;
    width: 200px;
    height: 300px;
    border-radius:6px;
    background: gray;
    margin: auto;
}
.slider-wrapper {
    width: 100%;
}
.slider-wrapper img {
    width: 100%;
}
@media (min-width: 646px) {
    .slider-wrapper {
        max-width: 646px;
        margin: auto;
    }
}
.sandor{
    width: 100%;
    position: relative;
    display: block;
    padding-bottom: 58%;
    .wrapper-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}