.mainMenu {
    display: flex;
    list-style: none;
    padding: 0 0 20px;
    justify-content: space-around;
    border-bottom: 1px solid #FFF;
    a {
        text-decoration: none;
    }
}

.is-active {
    color: teal;
}

.btn-cart {
    border: 1px solid teal;
    padding: 5px 10px;
    background-color: transparent;
    color: teal;
    border-radius: 5px;
}
.btn-cart:hover {
    background-color: teal;
    color: #FFF;
}